@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a href="/sacramentPlanner">here</a> for sacrament planner.</p>
    <p>Click <a href="/SacramentPlanner/Speakers">here</a> for speakers</p>
</div>
