html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    --bs-btn-color: #ffebf2;
    --bs-btn-bg: #50A4B9;
    --bs-btn-border-color: #50A4B9;
    --bs-btn-hover-color: #F8F3F1;
    --bs-btn-hover-bg: #408DA0;
    --bs-btn-hover-border-color: #408DA0;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #408DA0;
    --bs-btn-active-border-color: #408DA0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #50A4B9;
    --bs-btn-disabled-border-color: #50A4B9;
    --bs-heading-color: #b30240;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: #F8F3F1;
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*added*/
a {
    color: #166879;
}

a:hover {
    color: #50A4B9;
}

.btn-primary {
    color: #F8F3F1;
    background-color: #50A4B9;
    border-color: #408DA0;
    text-decoration-color: #50A4B9;
    --bs-btn-color: #ffebf2;
    --bs-btn-bg: #50A4B9;
    --bs-btn-border-color: #50A4B9;
    --bs-btn-hover-color: #F8F3F1;
    --bs-btn-hover-bg: #408DA0;
    --bs-btn-hover-border-color: #408DA0;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #408DA0;
    --bs-btn-active-border-color: #408DA0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #50A4B9;
    --bs-btn-disabled-border-color: #50A4B9;
    margin-top: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffebf2;
    background-color: #A8D3DC;
    border-color: #A8D3DC;
}

header nav.navbar, footer {
    background-color: #C5E2E8 !important;
}

footer p {
    margin-bottom: 0;
}